html {
    font-size: 25px;
}

rt {
    font-size: 0.6em;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

body {
    /* 背景图设置 */
    background: url('{{ bg }}') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
a {
    color: aliceblue;
}
.card {
    background-color: rgba(43,49,60, {{ alpha }});
    border-radius: 30px;
    padding: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* 以下为各种状态的颜色 */

.sleeping {
    color: gray;
}

.awake {
    color: #71d4f3;
}

.error {
    color: red;
}

.text-icon {
    width: 2em;
    height: 2em;
    vertical-align: middle;
    margin-right: 0.25em;
}

.dg-btn {
    box-sizing: border-box;
    margin: 0;
    overflow: visible;
    text-transform: none;
    font-family: Arialbd;
    border: #ffe99d 1px solid !important;
    color: #ffe99d !important;
    font-size: 19px !important;
    width: 20em;
    height: 56px;
    margin-bottom: 28px;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    cursor: pointer;
    background-color: #171717;
}